name: Add to Project

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    if: >-
      contains(fromJSON('["OWNER", "MEMBER", "COLLABORATOR"]'), 
      github.event.issue.author_association || github.event.pull_request.author_association)
    steps:
      - uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/orgs/nymstr/projects/1
          github-token: ${{ secrets.PROJECT_TOKEN }}
